/* additional codes started here */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* additional codes ended here */





/* codes for heading section */
.headerflex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1A0B2E;
    padding: 24px 200px;
}
.logotech{
    color: white;
}
.logowave{
    background: linear-gradient(#F7E93F,#FB09B4,#9100F8);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.logo{
    font-weight: 700;
    font-size: 2rem;
}
.navbar ul{
    display: flex;
    gap: 30px;
    list-style: none;
}
.navbar ul a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
}
.primary-button{
    background: linear-gradient(#F7E93F,#FB09B4,#9100F8);
    padding: 12px 30px;
    border: none;
    border-radius: 10000px;
    color: white;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
}

.hamburgermenu{
    display: none;
}
@media screen and (max-width: 576px){
    .headerflex{
        padding: 16px 20px;
    }
    .navbar,.primary-button{
        display: none;
    }
    .hamburgermenu{
        display: block;
        width: 25px;
        height: auto;
        cursor: pointer;
    }
}
/* codes for header section ended here */






/* codes for hero section */

.hero{
    background-image: url(../B13-A02-TechWave/assets/hero-bg.png);
    padding: 101px 20px;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
}
.hero-container{
    max-width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-logo-stack{
    position: relative;
    width: 350px;
    height: 350px;
    margin-bottom: 40px;
}
.layer-circle{
    width: 100%;
    height: auto;
}
.layer-mic{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;

}
.badge{
    position: absolute;
    top: 5px;
    right: 40px;
    background-color: #00FF88;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 1000px;
    box-shadow: 0 0 15px rgba(0,255,132,0.6);
}
.hero-text h1{
    margin-bottom: 8px;
    font-weight: 800;
    font-size: 3.75rem;
}
.hero-text p{
    margin-bottom: 24px;
    max-width: 550px;
    font-weight: 400;
    font-size: 1rem;
    color: rgb(177, 175, 175);
}
.hero-actions{
    display: flex;
    gap: 8px;
}
.btn{
    padding: 12px 20px;
    border-radius: 10000px;
    font-weight: 600;
    font-size: 1rem;
     background: linear-gradient(#F7E93F,#FB09B4,#9100F8);
     color: white;
     border: none;
     display: flex;
     align-items: center;
     gap: 8px;
     cursor: pointer;

}
.btn-gradient{
    padding: 12px 20px;
    border-radius: 10000px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 600;
    font-size: 1rem;
    border: 2px solid #00FF88;
    color: #00FF88;
    background: transparent;
    cursor: pointer;
}
@media screen and (max-width:576px){
    .hero{
        padding: 60px 20px;
        height: auto;
        min-height: 100vh;
    }
    .hero-logo-stack{
        width: 220px;
        height: 220px;
    }
    .layer-mic{
        width: 60px;
    }
    .badge{
        font-size: 14px;
        padding: 5px 12px;
        right: 15px;
    }
    .hero-text h1{
        font-size: 2.5rem;
    }
    .hero-text p{
        font-size: 0.95rem;
        padding: 0 10px;
    }
}
/* code for hero section ends here */






/* codes for about section */
.about{
    background-color: #1A0B2E;
    padding: 50px 200px 120px 200px;
}

.divider{
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    max-width: 1200px;
    margin: 0 auto;
}
.aboutdescription{
    max-width: 1200px;
    margin: 0 auto 80px auto;
    text-align: center;
    color: #ffffff;
}
.aboutdescription h2{
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 16px;
}
.aboutdescription p{
    line-height: 1.8;
    max-width: 800px;
    font-weight: 400;
    font-size: 1rem;
    margin: 0 auto;
    color: rgb(177, 175, 175);
}
.about-stats{
    display: flex;
    max-width: 1200px;
    margin: 80px auto 0 auto;
    justify-content: center;
    color: #00FF88;
    gap: 80px;
}
.stats-container h2{
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 16px;
}
.span-class{
    font-weight: 400;
    font-size: 1rem;
    color: rgb(177, 175, 175);;
}
@media screen and (max-width: 576px){
    .about{
        padding: 40px 20px;
    }
    .aboutdescription h2{
        font-size: 2rem;
    }
    .aboutdescription{
        margin-bottom: 40px;
    }
    .about-stats{
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 40px 20px;
        text-align: center;
    }
    .stats-container h2{
        font-size: 1.8rem;
        margin-bottom: 8px;
    }
    .span-class{
        font-size: 0.8rem;
    }
}
/* code for about section ends here */






/* codes for why section starts here */
.why{
    background-color: #230E3D;
    color: white;
    padding: 120px 200px;
}
.whysection-header{
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 40px;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}
.card{
    background: rgba(53, 17, 101, 0.4);
    border: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    padding: 40px 40px;
    transition: transform 0.3s ease;
}
.card:hover{
    background: rgba(255, 255, 255, 0.05);
}
.card img{
    margin-bottom: 16px ;
}
.card h3{
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 1.5rem;
}
.card p{
    color: rgb(177, 175, 175);
    font-weight: 400;
    font-size: 1rem;
}

.premium{
    grid-row: span 2;
    padding-top: 107.5px;
}
.mobile{
    grid-column: span 2;
}
.global{
    grid-column: span 2;
}
.exclusive{
    grid-column: span 2;
}

@media screen and (max-width:576px){
    .grid-container{
        grid-template-columns: 1fr;
    }
    .premium, .mobile, .global, .exclusive{
        grid-column: span 1;
        grid-row: span 1;
    }
    .why{
        padding: 40px 20px;
    }
    .whysection-header{
        max-width: 500px;
        font-weight: 700;
        font-size: 2rem;
        text-align: center;
    }
}
/* codes for why section ends here */
